<!-- Part 1: Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Seongsiks Live Chat</h1>
    </div>
    <p>
    <span class="label label-info">Info</span> 이 작은 페이지는 Rails 4.0의live와 redis 의Pub/Sub 을 이용해서 만든 채팅창입니다. 최대사용자는 16명입니다. 너무 가혹하게 쓰지 마세요. 
    <p/>
    <div class="alert alert-error">
       <strong>IE</strong> 와 <strong>FireFox</strong> 에서는 <code>Eventsource</code>가 제대로 동작하지 않을 수 있습니다. 
    </div>
    <div>
      <pre class="pre-scrollable" style="height: 340px;">
        <code id="chat_window"></code>
      </pre>
    </div>
    <div class="input-append">
      <input id="chat" type=text name="message" size="30" />
      <button class="btn" name="message_send" id="message_send" >send</button>
    </div>
  </div>

</div>
<br />
<div id="footer">
  <div class="container">
    <p class="muted credit"><a href="http://devopser.me">Rails 4 Live Example by Seongsiks.</a>
    <a href="https://github.com/kssminus/rails4-live.git"><span class="label label-success">Github</span></a></p>
  </div>
</div>
