<!-- Part 1: Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Seongsiks Live Chat</h1>
    </div>
    <div>
      <pre class="pre-scrollable" style="height: 340px;">
        <code id="chat_window"></code>
      </pre>
    </div>
    <div class="input-append">
      <input id="chat" type=text name="message" size="30" />
      <button class="btn" name="message_send" id="message_send" >send</button>
    </div>
  </div>

</div>
<br />
<div id="footer">
  <div class="container">
    <p class="muted credit"><a href="http://devopser.me">Rails 4 Live Example by Seongsiks.</a></p>
  </div>
</div>
